@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    }    

body {
    font-family: PT Sans, Oswald, sans-serif;
    color: #3a3a3a;
}

/* Headings and logos */
h1, h2 {
font-family: Oswald, sans-serif;
text-transform: uppercase;
letter-spacing: 4px;
color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}